@using Shop.Data.ViewModell
@model VMItems
@{
    Layout = "_Layout";
}
<div>
    <select onchange="SelectCategory(this)">
        <option value="0">Все категории</option>
        @{
            foreach (var Category in Model.Categorys)
            {
                if (Category.Id == Model.SelectCategory)
                {
                    <option selected="selected" value="@Category.Id">
                        @Category.Name
                    </option>
                }
                else
                {
                    <option value="@Category.Id">
                        @Category.Name
                    </option>
                }
            }
        }
    </select>
</div>

<h2>Все предметы</h2>
@{
    foreach (var item in Model.Items)
    {
        if (Model.SelectCategory == Model.SelectCategory)
        {
            <div class="item">
                @if (item.Image.StartsWith("http"))
                {
                    <img src="@item.Image" />
                }
                else
                {
                    <img src="~/img/@item.Image" />
                }
                <div class="basket">
                    <div class="button" id="@item.Id">
                        В корзину
                    </div>
                    <div class="count">
                        <div class="button min"> - </div>
                        <div class="text"> 1 </div>
                        <div class="button max"> + </div>
                    </div>
                </div>
                <div class="data">
                    <h3>Модель: @item.Name</h3>
                    <p>Цена: @item.Price.ToString("c")</p>
                    <p>Категория: @item.Category.Name</p>
                    <p>Описание: @item.Description</p>
                </div>
                <div class="actions">
                    <a href="/Items/Update/@item.Id">Редактировать</a>
                    <a href="/Items/Delete/@item.Id" onclick="return confirm('Вы уверены?')">Удалить</a>
                </div>
            </div>
        }
    }
}