@using Shop.Data.ViewModell
@model VMItems
@{
    Layout = "_Layout";
}
<div>
    <select onchange="SelectCategory(this)">
        <option value="0">Все категории</option>
        @{
            foreach (var Category in Model.Categorys)
            {
                if (Category.Id == Model.SelectCategory)
                {
                    <option selected="selected" value="@Category.Id">
                        @Category.Name
                    </option>
                }
                else
                {
                    <option value="@Category.Id">
                        @Category.Name
                    </option>
                }
            }
        }
    </select>
</div>

<h2>Все предметы</h2>
@{
    foreach (var item in Model.Items)
    {
        if (Model.SelectCategory == Model.SelectCategory)
        {
            <div class="item">
                @if (item.Image.StartsWith("http"))
                {
                    <img src="@item.Image" />
                }
                else
                {
                    <img src="~/img/@item.Image" />
                }
                <div class="basket">
                    <div class="button" id="@item.Id">
                        В корзину
                    </div>
                    <div class="count">
                        <div class="button min"> - </div>
                        <div class="text"> 1 </div>
                        <div class="button max"> + </div>
                    </div>
                </div>
                <div class="data">
                    <h3>Модель: @item.Name</h3>
                    <p>Цена: @item.Price.ToString("c")</p>
                    <p>Категория: @item.Category.Name</p>
                    <p>Описание: @item.Description</p>
                </div>
                <div class="actions">
                    <a href="/Items/Update/@item.Id">Редактировать</a>
                    <a href="/Items/Delete/@item.Id" onclick="return confirm('Вы уверены?')">Удалить</a>
                </div>
            </div>
        }
    }
}
<script>
    $(".item").children(".basket").children(".button").click(function() {
        $(this).parent().children(".count").show();
        $(this).hide();
        $.ajax({
            url: '@Url.Action("Basket", "Items")',
            contentType: "application/json; charset=utf-8",
            data: { idItem: $(this).attr('id') },
            dataType: "json",
            success: SuccessBasket,
            error: AjaxError
        });
    });

    $(".count").children(".min").click(function() {
        var idItem = $(this).parent().parent().children('.button').attr('id');
        var count = $(this).parent().children('.text').text();
        count--;
        if (count == 0){
            $(this).parent().children(".button").show();
            $(this).parent().children(".count").hide();
        } else{
            $(this).parent().children('.text').text(count);
        }
        $.ajax({
            url: '@Url.Action("BasketCount", "Items")',
            contentType: "application/json; charset=utf-8",
            data: { idItem: $(this).attr('id') },
            dataType: "json",
            success: SuccessBasket,
            error: AjaxError
        });
    });

    $(".count").children(".max").click(function() {
        var idItem = $(this).parent().parent().children('.button').attr('id');
        var count = $(this).parent().children('.text').text();
        count++;
        $(this).parent().children('.text').text(count);
        $.ajax({
            url: '@Url.Action("BasketCount", "Items")',
            contentType: "application/json; charset=utf-8",
            data: { idItem: $(this).attr('id') },
            dataType: "json",
            success: SuccessBasket,
            error: AjaxError
        });
    });
    function SuccessBasket(data){
        console.log(data);
    }
    function AjaxError(){
        console.log("Ошибка ajax");
    }
</script>